{% extends 'Heroku1/base.html' %}

{% block main_content %}


<div style="background-color: rgb(228, 210, 186);"><br><br><br>


    <div class="container" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img  src="https://scontent.faep9-3.fna.fbcdn.net/v/t1.18169-9/18222530_10212372114439064_2944139228694908977_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=T16wGND3NPwAX9gokuk&_nc_ht=scontent.faep9-3.fna&oh=00_AT8gcBUXCgYlhJ4j7MHrwhJjhFA_QcO2KZZXtNqlte_ciw&oe=62915677" class="rounded-circle" height="250px" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sobre mí...</h5>
              <p class="card-text">    
                  <strong>
                <p>Bienvenido/a: </p>
                <p> Mi nombre es Bruno, soy Licenciado en Dirección y Gestión de Bienes, durante muchos años me dedique al rubro inmobiliario. potenciando mis habilidades con el trato a clientes y contacto social.</p>                        
                <p> Considero importante mencionar que allá por mis dieciocho años comencé a estudiar Licenciatura en Sistemas, y sin siquiera haber cumplido el año en la carrera, por diversos motivos no pude finalizarla. </p>
                <p> Fue en el 2021 cuando decidí retomar lo que hace casi diez años quedo inconcluso, con gran motivación, me alegra estar transitando este camino, espero poder disfrutarlo al máximo y lograr todo lo que me proponga. </p>
              </strong></p>
              <p>brunodonato.bmd@gmail.com</p>
            <a href="/" class="btn btn-primary">Inicio</a>
            </div>
          </div>
        </div>
      </div>


</div>

{% endblock main_content %}